<!DOCTYPE html>
<html>
<head>
    <title>GPA管理アプリ</title>
</head>
<body>

<h1>GPA管理</h1>

<h2>合計単位: {{ total_credits }}</h2>
<h2>平均点: {{ "%.1f"|format(avg_score) }}</h2>

<h2>卒業判定: {{ "OK" if grad_ok else "不足" }}</h2>

<hr>

<h2>条件チェック</h2>

<table border="1" style="border-collapse: collapse;">
<tr>
  <th>項目</th>
  <th>取得単位</th>
  <th>必要単位</th>
  <th>達成</th>
</tr>

{% for c in conds %}
<tr 
  {% if c.type == "total" %}
    style="background-color: #d0f0ff;"
  {% elif c.type == "other" %}
    style="background-color: #eeeeee;"
  {% endif %}
>
  <td>{{ c.name }}</td>
  <td>{{ c.current }}</td>
  <td>{{ c.required }}</td>
  <td>
    {% if c.ok %}
        OK
    {% else %}
        不足 (あと {{ c.required - c.current }} 単位)
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>

<h2>科目追加</h2>
<form action="/add" method="post">

<input name="name" placeholder="科目名">

<input type="number" name="credits" min="0" step="1" placeholder="単位">

<input type="numebr" min="0" max="4" step="0.5" name="gpa" placeholder="GPA">

<input type="number" min="0" max="100" step="1" name="score" placeholder="点数">

<select name="term">
<option>2025前期</option>
<option>2025後期</option>
<option>2026前期</option>
<option>2026後期</option>
<option>2027前期</option>
<option>2027後期</option>
<option>2028前期</option>
<option>2028後期</option>
<option>2029前期</option>
<option>2029後期</option>
<option>2030前期</option>
<option>2030後期</option>
</select>

<select name="category">
<option>必修</option>
<option>選択必修</option>
<option>選択</option>
<option>査定外</option>
<option>その他</option>
</select>

<select name="field">
<option>教養・人文社会</option>
<option>教養・グローバル</option>
<option>英語</option>
<option>初修外国語</option>
<option>基礎必修</option>
<option>基礎選択必修</option>
<option>情報技術者</option>
<option>専門必修</option>
<option>専門選択必修</option>
<option>その他</option>
</select>

<button type="submit">追加</button>

</form>

<hr>

<h2>科目一覧</h2>

<a href="/?sort=score">点数順</a>
<a href="/?sort=credits">単位順</a>

<table border="1" style="border-collapse: collapse;">
<tr>
<th>名前</th><th>単位</th><th>点数</th><th>削除</th>
</tr>

{% for s in subjects %}
<tr>
<td>{{ s[1] }}</td>
<td>{{ s[2] }}</td>
<td>{{ s[4] }}</td>
<td>
    <a href="/delete/{{ s[0] }}" onclick="return confirm('「{{ s[1] }}」を本当に削除しますか？')">削除</a>
</td>
</tr>
{% endfor %}

</table>

</body>
</html>